<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}We devoured it!{{else}}Still waiting to be devoured!{{/if}}
	</button>

</li>
